/* #region common rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 0.5rem;
    font-weight: bolder
}

a {
    color: white;
    text-decoration: none;
}

i {
    font-size: larger;
    padding: 0.4rem;
}

img{
    max-width: 100%;
}
/* #endregion common rules */


/* #region COLOR PALETTE */
:root {
    --bz-header: #ff6900;
    --bz-discount: #ff0000;
    --bz-sustainability: #008000;
    --bz-footer: #1a1a1a;
}
/* #endregion COLOR PALETTE */

/* #region utilities */
.container {
    width: 70%;
    max-width: 1140px;
    margin: auto;
}

/* FLEX PROPERTY */
.d-flex{
    display: flex;
}

.between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
    gap: 1rem;
}

/* STRUTTURA COL-4 */
.col-4 {
    width: calc(100% / 3 - 1rem);
    position: relative;
}

.like {
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: white;
    padding: 0.3rem 0.8rem;
    border-radius: 50%;
}

.discount {
    position: absolute;
    left: 0;
    background-color: var(--bz-discount);
}

.evergreen {
    position: absolute;
    left: 55px;
    background-color: var(--bz-sustainability); 
}

.discount,
.evergreen {
    position: absolute;
    padding: 0.4rem;
    border-radius: 1rem;
    bottom: 90px;
}

.bg-img {
    position: absolute;
    display: none;
}

.col-4:hover > .bg-img {
    display: block;
}
/* #endregion utilities */

/* #region header */
#app-header {
    background-color: var(--bz-header);
}

#app-header > * {
    padding: 1rem;

}
/* #endregion header */

/* #region main */
#app-main {
    margin: 3rem 0;
}

.discount-prize {
    color: var(--bz-discount);
    font-weight: bolder;
}

.prize {   
    text-decoration: line-through;
}

.col-4:hover > .like {
    color: var(--bz-discount);
}

/* #endregion main */

